Repository liminalpurple/matrix-stickerbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, go-mod-tidy, go-get-update, golangci-lint, go-test

.pre-commit-config.yaml:

# Pre-commit configuration for matrix-stickerpack

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
  - manual

repos:
  # File integrity and format checks - run first for efficiency
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  # Go language checks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt -l -d .
        language: system
        types: [go]
        pass_filenames: false

      - id: goimports
        name: goimports
        entry: sh -c 'go install golang.org/x/tools/cmd/goimports@latest && $(go env GOPATH)/bin/goimports -l -d .'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.mod$
        pass_filenames: false

      - id: go-get-update
        name: go get -u
        entry: go get -u ./...
        language: system
        files: go\.mod$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: sh -c 'go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest && GOWORK=off $(go env GOPATH)/bin/golangci-lint run'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: go test
        entry: sh -c 'GOWORK=off go test -v ./...'
        language: system
        types: [go]
        pass_filenames: false

  # Conventional commit message format enforcement - run last
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--strict", "--force-scope"]

fix(lint): resolve golangci-lint v9 issues
  internal/bot/bot.go
  internal/bot/bot_test.go
  internal/bot/commands_test.go
  internal/matrix/media_test.go
  internal/storage/storage_test.go
Due: gofmt, goimports, golangci-lint, go-test

feat(media): add WebP image format support
  go.mod
  go.sum
  internal/bot/commands_test.go
  internal/config/config_test.go
  internal/matrix/media.go
Due: gofmt, goimports, go-mod-tidy, go-get-update, golangci-lint, go-test

build(deps): bump Go toolchain and module dependencies
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-mod-tidy, go-get-update

ci(dependabot): group GitHub Actions updates into single PR
  .github/dependabot.yml
Due: none

ci(workflow): run pre-commit hooks via prek action
  .github/workflows/ci.yml
Due: none

ci(pre-commit): trigger lint and test on go.mod/go.sum changes
  .pre-commit-config.yaml
Due: none

build(deps): bump Go toolchain and module dependencies
  go.mod
  go.sum
Due: go-mod-tidy, go-get-update

feat(bot): add pack unpublish command
  internal/bot/commands.go
  internal/matrix/state.go
  internal/storage/packs.go
Due: gofmt, goimports, golangci-lint, go-test

docs(readme): document pack unpublish command
  README.md
Due: none

chore(deps): Bump deps and Go to 1.26.4
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-mod-tidy, go-get-update

chore(deps): bump Go to 1.27.1 and update dependencies
  .pre-commit-config.yaml
  go.mod
  go.sum
  internal/bot/commands.go
Due: gofmt, goimports, go-mod-tidy, go-get-update, golangci-lint, go-test

fix(docker): follow go.mod's Go version in the builder stage
  Dockerfile
Due: none
